/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
tests
phpunit.xml
.php-cs-fixer.php
.editorconfig
docker-compose*.yml
